<body>
<!-- <div class=labelInput> -->
    <!-- <form (keyup.enter="logIn(usernameInput.value, passwordInput.value)")>  -->
<label>username</label>
<input [(ngModel)]=usernameInput type="text">
<!-- </div> -->
<!-- <div class=labelInput> -->
<label>password</label>
<input [(ngModel)]=passwordInput type="password">
<!-- </div> -->

<div mat-dialog-actions>
    <button class=reject_button mat-flat-button mat-dialog-close>Close</button>
    <button class=confirm_button mat-flat-button (click)="logIn()">Login</button>
</div>
<!-- </form> -->
</body>