body {
    width: 30vw;
    min-width: 30vw !important;
    min-height: 30vh !important;
    height: 30vh;
    @media only screen and (max-width: 550px) {
        width: 80vw;
    }
    background: #fafafa;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    display: flex !important;
    flex-direction: column !important;

    label {
        align-self: center;
        line-height: 2.5rem;
        font-size: 2rem;
    }
    input {
        align-self: center;
        font-size: 1.7rem;
        height: 2.2rem;
        width: 20rem;
        @media only screen and (max-width: 550px) {
            width: 70%;
        }
    }

    .mat-dialog-actions {
        justify-content: center;
        button {
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            width: 5rem;
            height: 3.5rem;
            font-size: 1.2rem;
        }
    }
}
::ng-deep .mat-dialog-container {
    padding: 0 0 !important;
}
