<header>
  <img src='../assets/img/logo.png' alt=SalaryCalc>
  <!-- <h1>Salary Counter</h1> -->
  <button mat-flat-button class=specialAction (click)=LogIn()>LOG IN</button>
</header>


<body>
  <router-outlet></router-outlet>


</body>


<footer>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <p class="author">Szymon Dyda</p>
  <a class="fa fa-instagram" href="http://www.instagram.com/szymonkhal/" target="_blank"></a>
  <a class="fa fa-facebook" href="https://www.facebook.com/szymon.dyda" target="_blank"></a>
</footer>