body {
    display: flex;
    min-width: 50% !important;
    flex-direction: column;
    height: 100%;

    padding-left: 5% !important;
    padding-right: 5% !important;
    h2 {
        text-align: center;
    }
    .dailyIncomeAndProgressChart .totalProgressAndIncomeChart {
        display: flex;
        flex-direction: column;
        height: 30%;
    }

    .buttons {
        bottom: 2rem;
        left: 5%;
        right: 5%;
        justify-self: center;
        button {
            height: 3rem;
            cursor: pointer;
        }
        .returnButton {
            width: 100%;
            border-right: solid thin;
            margin-bottom: 10rem;
        }

        @media only screen and (max-width: 550px) {
            position: absolute;
            margin-bottom: 3rem;
        }
    }
}
