h2 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    table {
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            height: 4rem;
            cursor: pointer;
        }
        .closeButton {
            width: 20vw;
            margin-left: 3vw;
        }
        .saveButton {
            width: 37vw;
            margin-right: 3vw;
        }
        .addButton {
            width: 37vw;
        }
    }
}

::ng-deep table,
mat-paginator,
tr.mat-header-row.cdk-header-row.ng-star-inserted,
tr.mat-row.cdk-row.ng-star-inserted {
    background: #fafafa !important;
    width: 94vw;
    margin-left: 3vw;
    margin-right: 3vw;
    @media only screen and (max-width: 550px) {
        width: 100vw;
        margin-right: 0;
        margin-left: 0;
    }
}
::ng-deep button.mat-sort-header-button.mat-focus-indicator {
    background: transparent !important;
    color: black !important;
}
::ng-deep button.mat-focus-indicator.mat-paginator-navigation-first,
::ng-deep button.mat-focus-indicator.mat-paginator-navigation-previous,
::ng-deep button.mat-focus-indicator.mat-paginator-navigation-next,
::ng-deep button.mat-focus-indicator.mat-paginator-navigation-last {
    cursor: pointer;
}
.cdk-column-day {
    width: 3rem;
    @media only screen and (max-width: 550px) {
        max-width: 2rem;
    }
}
.cdk-column-date {
    width: 7rem;
    white-space: nowrap;
    @media only screen and (max-width: 550px) {
        padding-right: 1rem;
    }
}
.cdk-column-income {
    width: 3rem;
}
.cdk-column-total {
    width: 3rem;
}
.cdk-column-progress {
    @media only screen and (max-width: 550px) {
        max-width: 4rem;
    }
    width: 3rem;
}
.cdk-column-modificate {
    width: 3rem;
}

#changeButton {
    cursor: pointer;
}
