<body>

    <div class=login>

        <h2>Sign in or log in to keep track on you salary.</h2>
        <div class=buttons>
            <button mat-flat-button (click)=signIn()>SIGN IN</button>
            <button mat-flat-button (click)=logIn()>LOG IN</button>
        </div>

        <p>1.Register yourself!<br>
            2.Choose payment period(daily, weekly, monthly, yearly).<br>
            3.Input your basic salary and taxes(optional) .<br>
            4.Check commission payment system(person, hour, lesson).<br>
            5.Check if your commission is fixed or depend on other incomes.<br>
            6.Login daily to input your progress and check predicted salary! </p>

    </div>
    <div class=spacer>
        <div class=binarySign>
            <h3 class=number1>1</h3>
            <h3 class=number2>0</h3>
            <h3 class=number3>0</h3>
            <h3 class=number4>1</h3>
            <h3 class=number5>0</h3>
            <h3 class=number6>1</h3>
            <h3 class=number7>1</h3>
        </div>
    </div>
    <div class=demo>
        <h2>Use it without registration to calculate salary from saved data.</h2>
        <button mat-flat-button>START</button>
        <p>1.Check commission payment system(per person/hour/lesson) .<br>
            2.Sign if your commission is fixed or depend on other income.<br>
            3.Choose period during which you want to calculate.<br>
            4.Fill up day-by-day your incomes.<br>
            5.Check how much you can spend today!</p>


    </div>

</body>