body {
    @media only screen and (max-width: 550px) {
        min-height: auto !important;
        min-width: auto !important;
    }
    margin-left: 2rem !important;

    .languageForm {
        display: flex;
        flex-direction: row;
        width: 80%;
        mat-select {
            font-size: 1.2rem;
            line-height: 2rem;
            margin-left: 3rem;
            width: 30%;
            opacity: 0.5;
        }
    }

    .reportsForm {
        input {
            font-size: 1.2rem;
            line-height: 2rem;
            width: 3rem;
            opacity: 0.5;
        }
        .forgotToUpdateDiv {
            input {
                text-align: center;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            display: inline-flex;
        }
    }

    .buttons {
        margin-top: 1rem;
        justify-self: center;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        button {
            height: 3rem;
            cursor: pointer;
        }
        .returnButton {
            width: 28%;
            border-right: solid thin;
        }
        .saveButton {
            width: 60%;
        }
    }
}
