body {
    padding: 3rem;
    min-height: 10vh !important;
    min-width: 10vw !important;
    // background: none !important;
    display: flex;
    flex-direction: column;
    margin-bottom:90px !important;
    @media only screen and (max-width: 400px){
        padding-top: 0;
    }
    

    .loginEmailPicture {
        @media only screen and(max-width: 550px){
            overflow-y: visible;
            display: flex;
            flex-direction: column;
        }
        display: grid;
        column-gap: 0;
        row-gap: 0;
        // display: flex;
        // flex-direction: column;
        // color: white;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 2rem;
        input {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            line-height: 2rem;
            width: 50%;
            // background-color: aliceblue;
            opacity: 0.5;
        }
        #usernameLabel {
            grid-row: 2;
            grid-column: 1;
        }
        #usernameInput {
            grid-row: 3;
            grid-column: 1;
        }
        #emailLabel {
            grid-row: 4;
            grid-column: 1;
        }
        #emailInput {
            grid-row: 5;
            grid-column: 1;
        }
        #imgLabel {
            grid-row: 1;
            grid-column: 2;
        }
        img {
            grid-row-start: 2;
            grid-row-end: 6;
            grid-column: 2;
            height: 300px;
            width: 200px;
            cursor: pointer;
            @media only screen and (max-width: 550px){
                height: 170px;
                width: 140px;
            }
            @media only screen and (max-width: 400px){
                height: 90px;
                width: 80px;
            }
        }
    }
    .newsletter{
        margin-top:2rem;
        display: inline-flex;
        #newsletterLabel {
        }
        #newsletterCheckbox {
        }
    }
    .buttons{
        justify-self: center;
        position: absolute;
        bottom:1rem;
        width: 100%;
        button{
            height: 3rem;
            cursor: pointer;
        }
        #deleteButton{
            width: 22%;
            // background-color: red !important;
        }
        #returnButton{
            width:22%;
            border-right: solid thin;
        }
        #saveButton{
            width:44%;
            // background: #f79e02 !important;
        }
        #saveButton:hover{
            // background: green !important;
            
        }
    }
}

::ng-deep mat-label#newsletterLabel {
    font-size: 1.5rem;
    line-height: 2rem;
    // color: white !important;
}
::ng-deep .mat-checkbox-frame {
    // border-color: white;
}
::ng-deep .mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
