<body>

<div class=loginEmailPicture>
    <mat-label id=usernameLabel>Change your username:</mat-label>
    <input id=usernameInput matInput type="text" placeholder="username">
    <mat-label id=emailLabel>Change your email address:</mat-label>
    <input id=emailInput matInput type="email" placeholder="dsada@gmail.com">
    <mat-label id=imgLabel>Change your profile photo:</mat-label>
    <img  src='./assets/img/dialog_background.jpg' alt='profilePhoto'>
</div>

<div class=newsletter>
    <mat-label id=newsletterLabel>Do you still want to receive newses about our current development?</mat-label>
    <mat-checkbox id=newsletterCheckbox></mat-checkbox>
</div>

<div class=buttons>
    <button id=deleteButton mat-flat-button>DELETE</button>
    <button id=returnButton mat-flat-button>RETURN</button>
    <button id=saveButton mat-flat-button>SAVE</button>
</div>

</body>