<body>

    <h2>What do you want to do now?</h2>
   <div class=container>
   
    <div class=actions>
        <button (click)=goToProgress() mat-flat-button>Add your progress</button>
        <button (click)=goToStatistics() mat-flat-button>Check your statistics</button>
        <button (click)=goToAccountManagment() mat-flat-button>Manage your account</button>

    </div>

    <div class=statistics>
        <mat-label>Day of work:{{dayOfWork}} </mat-label>
        <br><mat-label>Days to receive salary: {{dayToSalary}}</mat-label>
        <br><mat-label>Current income:{{incomeInTotal}}</mat-label>
        <br><mat-label>Income per day: {{incomePerDay}}</mat-label>
        <br><mat-label>Current progress:{{progressInTotal}}</mat-label>
        <br><mat-label>Progress per day:{{progressPerDay}}</mat-label>
        <br><mat-label>Current salary:{{currentSalary}}</mat-label>

    </div>
</div>
</body>