<body>

    <h2>What do you want to do now?</h2>
   <div class=container>
   
    <div class=actions>
        <button (click)=goToProgress() mat-flat-button>Add your progress</button>
        <button (click)=goToStatistics() mat-flat-button>Check your statistics</button>
        <button (click)=goToAccountManagment() mat-flat-button>Manage your account</button>

    </div>

    <div class=statistics>
        <mat-label>Day of work: </mat-label>
        <br><mat-label>Days to receive salary:</mat-label>
        <br><mat-label>Current income:</mat-label>
        <br><mat-label>Current taxes:</mat-label>
        <br><mat-label>Current salary:</mat-label>
        <br><mat-label>in total:</mat-label>
        <br><mat-label>per day:</mat-label>
        <br><mat-label>Comission per day:</mat-label>
    </div>
</div>
</body>