<body>
    <mat-label>Change day</mat-label>
    <input matInput type="number" [value]=data.day>
    <mat-label>Change date</mat-label>
    <input matInput type="text" [value]=data.date>
    <mat-label>Change income</mat-label>
    <input matInput type="number" [value]=data.income>
    <mat-label>Change total amount</mat-label>
    <input matInput type="number" [value]=data.totalIncome>
    <mat-label>Change progress</mat-label>
    <input matInput type="number" [value]=data.progress>
    <mat-label>Change total progress</mat-label>
    <input matInput type="number" [value]=data.totalProgress>

    <div class=buttons>
        <a routerLink='/logged'> <button class=returnButton mat-flat-button>RETURN</button></a>
        <button class=saveButton mat-flat-button>SAVE</button>
    </div>
</body>
