<body>
    <mat-label>Set up day</mat-label>
    <input [(ngModel)]=day matInput type="number" [value]=data.record.day>
    <mat-label>Set up date</mat-label>
    <input [(ngModel)]=date matInput type="date" [value]=data.record.date>
    <mat-label>Set up income</mat-label>
    <input [(ngModel)]=income matInput type="number" [value]=data.record.income>
    <mat-label>Set up total amount<br><i>Type "0" to calculate automaticly.</i></mat-label>
    <input [(ngModel)]=totalIncome matInput type="number" [value]=data.record.totalIncome>
    <mat-label>Set up progress</mat-label>
    <input [(ngModel)]=progress matInput type="number" [value]=data.record.progress>
    <mat-label>Set up total progress<br><i>Type "0" to calculate automaticly.</i></mat-label>
    <input [(ngModel)]=totalProgress matInput type="number" [value]=data.record.totalProgress>

    <div class=buttons>
        <button class=returnButton (click)=return() mat-flat-button>RETURN</button>
        <button mat-flat-button class=deleteButton (click)=deleteRecord()>DELETE</button>
        <button class=saveButton (click)='saveRecord()' mat-flat-button>SAVE</button>
    </div>
    <!-- dayInput.value, dateInput.value, incomeInput.value, totalIncomeInput.value, progressInput.value, totalProgressInput.value -->
</body>
