<body>
    <mat-label>Change day</mat-label>
    <input #dayInput matInput type="number" [value]=data.record.day>
    <mat-label>Change date</mat-label>
    <input disabled #dateInput matInput type="text" [value]=data.record.date>
    <mat-label>Change income</mat-label>
    <input #incomeInput matInput type="number" [value]=data.record.income>
    <mat-label>Change total amount</mat-label>
    <input #totalIncomeInput matInput type="number" [value]=data.record.totalIncome>
    <mat-label>Change progress</mat-label>
    <input #progressInput matInput type="number" [value]=data.record.progress>
    <mat-label>Change total progress</mat-label>
    <input #totalProgressInput matInput type="number" [value]=data.record.totalProgress>

    <div class=buttons>
        <button class=returnButton (click)=return() mat-flat-button>RETURN</button>
        <button *ngIf="data.new!=true" mat-flat-button class=deleteButton (click)=deleteRecord()>DELETE</button>
        <button class=saveButton (click)='saveRecord(dayInput.value, dateInput.value, incomeInput.value, totalIncomeInput.value, progressInput.value, totalProgressInput.value)' mat-flat-button>SAVE</button>
    </div>
</body>
