$background:#C8E6C9;//#FFD600;

$titles: #ffffff;
$special: #f79e02;
$special2:#f79e02;

$buttons: #009688;//#E65100;//#0074e1;
$hovers: #80CBC4;//#FFA726;//#673AB7;

$primary: #5680e9;
$extra1: #6cdaee;


html,
body {
    min-height: 80vh !important;
    min-width: 100% !important;
    max-width: 100%;
    overflow-x: hidden;
}
header,
footer {
    min-width: 100% !important;
}
header, footer{
    height: 90px !important;
}
html,
header,
body,
footer {
    margin: 0 auto !important;
    padding: 0;
}
html {
    background: $background;
    }

footer {
    background-blend-mode: lighten;
    }
    
h1 {
    font-size: 2.5rem !important;
}


button {
    background: $buttons  !important;
    color: $titles !important;
}
button:hover {
    background: $hovers !important;
}

input{
    border:inset !important;
}


//font sizes;
*{
font-size:16px;}
@media only screen and (max-width:550px){
    *{font-size: 10px;
}}



//buttons
$saveButton:#1B5E20;
$saveButtonHover:#388E3C;
$deleteButton:#DD2C00;
$deleteButtonHover:#F4511E;
$specialAction:#FF6D00;
$specialActionHover:#FFA726;


.saveButton{
    background: $saveButton !important;
}
.saveButton:hover{
    background: $saveButtonHover !important; 
}
.deleteButton{
    background: $deleteButton !important;
}
.deleteButton:hover{
background:  $deleteButtonHover !important;
}
.specialAction{
    background: $specialAction !important;
}
.specialAction:hover{
    background:$specialActionHover !important;
}
