.container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    p{
        font-size:1.5rem;
        text-align: center;
    }
    button{
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: 3rem;
        align-self: center;
    }
}

::ng-deep snack-bar-container.positiveSnackBar {
    background: #388E3C;
    color: white;
   
}

::ng-deep snack-bar-container.negativeSnackBar {
    background: #F4511E;
    color: white;
  
}

::ng-deep snack-bar-container.messageSnackBar {
    background: #80CBC4;
    color: black;
    button:hover{
        border:solid thin black !important;
    }
}

img{
    width: 3rem;
}
