<body>
    <h2>Currency</h2>
    <mat-form-field class=currencyForm>

        <mat-label>{{currentCurrency.name}}</mat-label>
        <mat-select>
            <mat-option *ngFor="let currency of currencies" [value]=currency>{{currency.name}} {{currency.symbol}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <h2>Basic salary</h2>
    <div class=basicSalaryForm>
        <mat-checkbox (click)=basicSalaryVisibility() [(ngModel)]=basicSalaryCheckbox>Calculate basic salary
        </mat-checkbox>

        <div [(ngClass)]=basicSalaryForm>
            <mat-form-field>
                <mat-label>Earning:</mat-label>
                <input matInput type="number">
            </mat-form-field>
        </div>
    </div>
    <h2>Commission</h2>
    <div class=commissionForm>
        <mat-form-field class=commissionTypeForm>
            <mat-select [(ngModel)]=commissionCalc>
                <mat-option value='percent'>Percent </mat-option>
                <mat-option value='fixed'>Fixed</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class=commissionAmountForm>
            <mat-label>Amount</mat-label>
            <input matInput [placeholder]=currentCommission>
        </mat-form-field>
    </div>
    <h2>Payment type and period</h2>
    <div class=paymentForAndPeriodForm>
        <div>
            <mat-label>Payment for:</mat-label>
            <mat-radio-group class=radiosGroups [(ngModel)]='paymentFor'>
                <mat-radio-button *ngFor="let period of paymentForGroup" [value]="period">
                    {{period}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div>
            <mat-label>Payment period:</mat-label>
            <mat-radio-group class=radiosGroups [(ngModel)]='paymentPeriod'>
                <mat-radio-button *ngFor="let period of paymentPeriodGroup" [value]="period">
                    {{period}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div class=buttons>
        <a routerLink='/logged'> <button class=returnButton mat-flat-button>RETURN</button></a>
        <button class=saveButton mat-flat-button>SAVE</button>
    </div>

</body>